.mb-1 {
  margin-bottom: 0.25rem
}

.mr-2 {
  margin-right: 0.5rem
}

.mr-3 {
  margin-right: 0.75rem
}

.mr-6 {
  margin-right: 1.5rem
}

.mt-2 {
  margin-top: 0.5rem
}

.line-clamp-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3
}

.hidden {
  display: none
}

.h-10 {
  height: 2.5rem
}

.w-10 {
  width: 2.5rem
}

.w-80 {
  width: 20rem
}

.w-full {
  width: 100%
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.rounded-full {
  border-radius: 9999px
}

.border-b-2 {
  border-bottom-width: 2px
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.p-2 {
  padding: 0.5rem
}

.font-bold {
  font-weight: 700
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.text-green-400 {
  --tw-text-opacity: 1;
  color: rgb(74 222 128 / var(--tw-text-opacity))
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}
