.absolute {
  position: absolute
}

.relative {
  position: relative
}

.-bottom-4 {
  bottom: -1rem
}

.bottom-6 {
  bottom: 1.5rem
}

.right-5 {
  right: 1.25rem
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem
}

.mb-1 {
  margin-bottom: 0.25rem
}

.ml-3 {
  margin-left: 0.75rem
}

.mr-1 {
  margin-right: 0.25rem
}

.mr-2 {
  margin-right: 0.5rem
}

.mr-3 {
  margin-right: 0.75rem
}

.mr-6 {
  margin-right: 1.5rem
}

.mt-1 {
  margin-top: 0.25rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-3 {
  margin-top: 0.75rem
}

.ml-2 {
  margin-left: 0.5rem
}

.flex {
  display: flex
}

.h-12 {
  height: 3rem
}

.h-32 {
  height: 8rem
}

.h-full {
  height: 100%
}

.w-12 {
  width: 3rem
}

.w-20 {
  width: 5rem
}

.w-80 {
  width: 20rem
}

.w-full {
  width: 100%
}

.flex-row {
  flex-direction: row
}

.flex-wrap {
  flex-wrap: wrap
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-around {
  justify-content: space-around
}

.rounded-full {
  border-radius: 9999px
}

.border {
  border-width: 1px
}

.border-b-2 {
  border-bottom-width: 2px
}

.border-gray-100 {
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity))
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.border-gray-400 {
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.p-2 {
  padding: 0.5rem
}

.p-3 {
  padding: 0.75rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.pb-10 {
  padding-bottom: 2.5rem
}

.pb-2 {
  padding-bottom: 0.5rem
}

.pb-3 {
  padding-bottom: 0.75rem
}

.pr-28 {
  padding-right: 7rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.font-bold {
  font-weight: 700
}

.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity))
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.underline {
  text-decoration-line: underline
}
