.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.bottom-4 {
  bottom: 1rem
}

.right-2 {
  right: 0.5rem
}

.right-10 {
  right: 2.5rem
}

.bottom-10 {
  bottom: 2.5rem
}

.left-10 {
  left: 2.5rem
}

.right-5 {
  right: 1.25rem
}

.bottom-6 {
  bottom: 1.5rem
}

.bottom-5 {
  bottom: 1.25rem
}

.bottom-2 {
  bottom: 0.5rem
}

.bottom-1 {
  bottom: 0.25rem
}

.top-5 {
  top: 1.25rem
}

.top-4 {
  top: 1rem
}

.top-2 {
  top: 0.5rem
}

.top-0 {
  top: 0px
}

.top-10 {
  top: 2.5rem
}

.bottom-3 {
  bottom: 0.75rem
}

.bottom-0 {
  bottom: 0px
}

.-bottom-3 {
  bottom: -0.75rem
}

.-bottom-10 {
  bottom: -2.5rem
}

.-bottom-8 {
  bottom: -2rem
}

.-bottom-4 {
  bottom: -1rem
}

.mb-1 {
  margin-bottom: 0.25rem
}

.mr-2 {
  margin-right: 0.5rem
}

.mr-3 {
  margin-right: 0.75rem
}

.mr-6 {
  margin-right: 1.5rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-1 {
  margin-top: 0.25rem
}

.mr-1 {
  margin-right: 0.25rem
}

.ml-3 {
  margin-left: 0.75rem
}

.mt-4 {
  margin-top: 1rem
}

.ml-2 {
  margin-left: 0.5rem
}

.mt-3 {
  margin-top: 0.75rem
}

.mt-10 {
  margin-top: 2.5rem
}

.line-clamp-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-10 {
  height: 2.5rem
}

.h-20 {
  height: 5rem
}

.h-16 {
  height: 4rem
}

.h-12 {
  height: 3rem
}

.h-full {
  height: 100%
}

.h-24 {
  height: 6rem
}

.h-28 {
  height: 7rem
}

.h-32 {
  height: 8rem
}

.w-10 {
  width: 2.5rem
}

.w-80 {
  width: 20rem
}

.w-full {
  width: 100%
}

.w-20 {
  width: 5rem
}

.w-12 {
  width: 3rem
}

.w-14 {
  width: 3.5rem
}

.w-16 {
  width: 4rem
}

.w-40 {
  width: 10rem
}

.flex-row {
  flex-direction: row
}

.flex-wrap {
  flex-wrap: wrap
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-around {
  justify-content: space-around
}

.rounded-full {
  border-radius: 9999px
}

.border-2 {
  border-width: 2px
}

.border-b-2 {
  border-bottom-width: 2px
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.border-gray-100 {
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity))
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.border-gray-400 {
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity))
}

.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.p-2 {
  padding: 0.5rem
}

.p-4 {
  padding: 1rem
}

.p-3 {
  padding: 0.75rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.pb-3 {
  padding-bottom: 0.75rem
}

.pb-2 {
  padding-bottom: 0.5rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.font-bold {
  font-weight: 700
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.text-green-400 {
  --tw-text-opacity: 1;
  color: rgb(74 222 128 / var(--tw-text-opacity))
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity))
}
